

.thumbnail img {
    display: flex;
  flex-wrap: wrap;
    
}

.thumbnail {
    height: 300px;
    width: 300px;
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


.delete-form {
    display: inline;
}

